<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MenuList</title>
</head>
<body>
    <div th:replace="common/header.html"></div>
    <table>
        <tr>
            <th>메뉴번호</th>
            <th>메뉴이름</th>
            <th>메뉴가격</th>
            <th>카테고리코드</th>
            <th>판매상태</th>
        </tr>
        <tr th:each="menu : ${menuList}">
            <th th:text="${menu.code}"></th>
            <th th:text="${menu.name}"></th>
            <th th:text="${menu.price}"></th>
            <th th:text="${menu.categoryCode}"></th>
            <th th:text="${menu.orderableStatus}"></th>
        </tr>
    </table>
    <script>
        const succesMessage = `[[${successMessage}]]`
        if(succesMessage){
            alert(succesMessage)
        }
    </script>
</body>
</html>