<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.crud.menu.model.dao.MenuMapper">
    <resultMap id="menuResultMap" type="com.ohgiraffers.crud.menu.model.dto.MenuDTO">
        <id property="code" column="menu_code"/>
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="categoryCode" column="category_code"/>
        <result property="orderableStatus" column="orderable_status"/>
    </resultMap>

    <resultMap id="categoryResultMap" type="com.ohgiraffers.crud.menu.model.dto.CategoryDTO">
        <id property="code" column="category_code"/>
        <result property="name" column="category_name"/>
        <result property="refCategoryCode" column="ref_category_code"/>
    </resultMap>

    <resultMap id="chatResultMap" type="com.ohgiraffers.crud.menu.model.dto.ChatDTO">
        <result property="whoareyou" column="chatting_who"/>
        <result property="chat" column="chatting_info"/>
    </resultMap>

    <select id="findAllMenu" resultMap="menuResultMap">
        SELECT *
        FROM tbl_menu
        WHERE orderable_status = 'Y'
        ORDER BY menu_code
    </select>


    <select id="findAllCategory" resultMap="categoryResultMap">
        SELECT *
        FROM tbl_category
    </select>
<!--    useGeneratedKeys : autoincrement 자동으로 추가 -->
    <insert id="registNewMenu" parameterType="com.ohgiraffers.crud.menu.model.dto.MenuDTO"
            useGeneratedKeys="true" keyProperty="code">
        INSERT into tbl_menu
        ( menu_name, menu_price, category_code, orderable_status )
        VALUES
        ( #{name}, #{price}, #{categoryCode}, #{ orderableStatus} )
    </insert>
    <insert id="goMessage" parameterType="com.ohgiraffers.crud.menu.model.dto.ChatDTO">
        INSERT INTO tbl_chatting ( chatting_who, chatting_info )
        VALUES ( #{whoareyou}, #{chat} );
    </insert>

    <select id="allchatting" resultMap="chatResultMap">
        SELECT *
        FROM tbl_chatting
    </select>


</mapper>
