<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 style="text-align: center; color: burlywood">Exception Handler 사용해보기</h1>
    <hr>
    <h3>@ExceptionHandler</h3>
    <button onclick="location.href='controller-null'">NullPointerException 테스트</button>
    <button onclick="location.href='controller-user'">사용자 정의 Exception 테스트</button>
    <hr>
    <h3>@ControllerAdvice</h3>
    <button onclick="location.href='other-controller-null'">다른 컨트롤러 NullPointerException 테스트</button>
    <button onclick="location.href='other-controller-user'">다른 컨트롤러 사용자 정의 Exception 테스트</button>
    <button onclick="location.href='other-controller-array'">ArrayException 테스트</button>

</body>
</html>