<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login🏠</title>
</head>
<body>
    <h1>Session 이용하기</h1>
    <form action="login1" method="post">
        ID : <input type="text" name="id"> <br>
        PW : <input type="password" name="password"> <br>
        <input type="submit" value="login">
    </form>
    <hr>
    <h3>@SessionAttributes 사용하기</h3>
    <form action="login2" method="post">
        ID : <input type="text" name="id"> <br>
        PW : <input type="password" name="password"> <br>
        <input type="submit" value="login">
    </form>
</body>
</html>