<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify</title>
</head>
<body>
<h1>@RequestParam 을 이용해서 전달 된 파라미터 꺼내기</h1>
<h3>메뉴 수정하기</h3>
<form action="modify" method="post">
    수정할 메뉴의 이름 : <input type="text" name="modifyName"> <br>
    수정할 메뉴의 가격 : <input type="number" name="modifyPrice"> <br>
    <button type="submit">수정하기</button>
</form>
<hr>
<h3>메뉴 수정하기2</h3>
<form action="modifyAll" method="post">
    수정할 메뉴의 이름 : <input type="text" name="modifyName2"> <br>
    수정할 메뉴의 가격 : <input type="number" name="modifyPrice2"> <br>
    <button type="submit">수정하기</button>
</form>
</body>
</html>